@import "tailwindcss";
.input {
  @apply w-full p-3 border rounded-xl focus:ring-2 focus:ring-indigo-400 outline-none;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}